{% extends 'base.html' %}
{% load socialaccount %}
{% load account %}
{% load i18n %}
{% load static %}
{% block title %} | Password Reset {% endblock title %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 mx-auto">

    <h2 class="text-center">Password Reset </h2>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-block py-2 mb-4 mt-1 fw500 w-100" type="submit">
            {% trans 'Reset My Password' %}
        </button>

    </form>

    <p>Please contact us if you have any trouble resetting your password.</p>
            </div>
        </div>

    </div>

{% endblock content %}
