{% extends 'base.html' %}
{% load socialaccount %}
{% load account %}
{% load i18n %}
{% load static %}
{% block title %} | Password Reset {% endblock title %}

{% block content %}


       <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 mx-auto">

    <h2>Password Reset</h2>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>

            </div>
        </div>
       </div>

{% endblock content %}