.m-space {
  margin: spacerem;
}

.my-space {
  margin: spacerem 0;
}

.p-space {
  padding: spacerem;
}

.py-space {
  padding: spacerem 0;
}

.table-borderless td {
  padding: 1em;
}

.table-borderless tr:first-child td {
  padding-top: 0.2em;
}

.table-borderless tbody:before {
  content: "@";
  display: block;
  line-height: 10px;
  text-indent: -99999px;
}

.table-borderless thead {
  line-height: 4em !important;
}

:root {
  --blue_900: 5, 25, 46;
  --blue_800: 10, 50, 92;
  --blue_700: 15, 74, 138;
  --blue_600: 20, 99, 184;
  --blue_500: 25, 124, 230;
  --blue_400: 71, 150, 235;
  --blue_300: 117, 176, 240;
  --blue_200: 163, 203, 245;
  --blue_100: 209, 229, 250;
  --blue_50: 230, 242, 255;
  --blue_0: 255, 255, 255;
  --indigo_900: 14, 5, 46;
  --indigo_800: 28, 10, 92;
  --indigo_700: 42, 15, 138;
  --indigo_600: 56, 20, 184;
  --indigo_500: 70, 25, 230;
  --indigo_400: 107, 71, 235;
  --indigo_300: 144, 117, 240;
  --indigo_200: 181, 163, 245;
  --indigo_100: 218, 209, 250;
  --indigo_50: 235, 230, 255;
  --indigo_0: 255, 255, 255;
  --purple_900: 26, 5, 46;
  --purple_800: 52, 10, 92;
  --purple_700: 79, 15, 138;
  --purple_600: 105, 20, 184;
  --purple_500: 131, 25, 230;
  --purple_400: 156, 71, 235;
  --purple_300: 181, 117, 240;
  --purple_200: 205, 163, 245;
  --purple_100: 230, 209, 250;
  --purple_50: 243, 230, 255;
  --purple_0: 255, 255, 255;
  --pink_900: 46, 5, 24;
  --pink_800: 92, 10, 48;
  --pink_700: 138, 15, 72;
  --pink_600: 184, 20, 97;
  --pink_500: 230, 25, 121;
  --pink_400: 235, 71, 148;
  --pink_300: 240, 117, 174;
  --pink_200: 245, 163, 201;
  --pink_100: 250, 209, 228;
  --pink_50: 255, 230, 241;
  --pink_0: 255, 255, 255;
  --red_900: 46, 5, 9;
  --red_800: 92, 10, 18;
  --red_700: 138, 15, 28;
  --red_600: 184, 20, 37;
  --red_500: 230, 25, 46;
  --red_400: 235, 71, 88;
  --red_300: 240, 117, 130;
  --red_200: 245, 163, 171;
  --red_100: 250, 209, 213;
  --red_50: 255, 230, 232;
  --red_0: 255, 255, 255;
  --orange_900: 46, 23, 5;
  --orange_800: 92, 47, 10;
  --orange_700: 138, 70, 15;
  --orange_600: 184, 94, 20;
  --orange_500: 230, 117, 25;
  --orange_400: 235, 145, 71;
  --orange_300: 240, 172, 117;
  --orange_200: 245, 200, 163;
  --orange_100: 250, 227, 209;
  --orange_50: 255, 241, 230;
  --orange_0: 255, 255, 255;
  --yellow_900: 46, 36, 5;
  --yellow_800: 92, 71, 10;
  --yellow_700: 138, 107, 15;
  --yellow_600: 184, 143, 20;
  --yellow_500: 230, 179, 25;
  --yellow_400: 235, 194, 71;
  --yellow_300: 240, 209, 117;
  --yellow_200: 245, 224, 163;
  --yellow_100: 250, 240, 209;
  --yellow_50: 255, 249, 230;
  --yellow_0: 255, 255, 255;
  --green_900: 5, 46, 15;
  --green_800: 10, 92, 29;
  --green_700: 15, 138, 44;
  --green_600: 20, 184, 58;
  --green_500: 25, 230, 73;
  --green_400: 71, 235, 109;
  --green_300: 117, 240, 146;
  --green_200: 163, 245, 182;
  --green_100: 209, 250, 219;
  --green_50: 230, 255, 235;
  --green_0: 255, 255, 255;
  --teal_900: 5, 46, 34;
  --teal_800: 10, 92, 67;
  --teal_700: 15, 138, 101;
  --teal_600: 20, 184, 135;
  --teal_500: 25, 230, 168;
  --teal_400: 71, 235, 186;
  --teal_300: 117, 240, 203;
  --teal_200: 163, 245, 220;
  --teal_100: 209, 250, 238;
  --teal_50: 230, 255, 247;
  --teal_0: 255, 255, 255;
  --cyan_900: 5, 40, 46;
  --cyan_800: 10, 81, 92;
  --cyan_700: 15, 121, 138;
  --cyan_600: 20, 162, 184;
  --cyan_500: 25, 202, 230;
  --cyan_400: 71, 213, 235;
  --cyan_300: 117, 223, 240;
  --cyan_200: 163, 234, 245;
  --cyan_100: 209, 244, 250;
  --cyan_50: 230, 252, 255;
  --cyan_0: 255, 255, 255 ;
}

.blue-black-20 {
  background-color: #0a58ca;
  color: #ced4da;
  border-color: #fff;
}

.blue-black-20:hover {
  color: #fff;
}

.blue-white-20:hover {
  color: #000;
}

.blue-white-20 {
  background-color: #3d8bfd;
  color: #343a40;
  border-color: #000;
}

.indigo-black-20 {
  background-color: #520dc2;
  color: #ced4da;
  border-color: #fff;
}

.indigo-black-20:hover {
  color: #fff;
}

.indigo-white-20:hover {
  color: #000;
}

.indigo-white-20 {
  background-color: #8540f5;
  color: #343a40;
  border-color: #000;
}

.cyan-black-20 {
  background-color: #0aa2c0;
  color: #ced4da;
  border-color: #fff;
}

.cyan-black-20:hover {
  color: #fff;
}

.cyan-white-20:hover {
  color: #000;
}

.cyan-white-20 {
  background-color: #3dd5f3;
  color: #343a40;
  border-color: #000;
}

.orange-black-20 {
  background-color: #ca6510;
  color: #ced4da;
  border-color: #fff;
}

.orange-black-20:hover {
  color: #fff;
}

.orange-white-20 {
  background-color: #fd9843;
  color: #343a40;
  border-color: #000;
}

.orange-white-20:hover {
  color: #000;
}

.yellow-black-20 {
  background-color: #717273;
  color: #ced4da;
  border-color: #fff;
}

.yellow-black-20:hover {
  color: #fff;
}

.yellow-white-20 {
  background-color: #a4a5a6;
  color: #343a40;
  border-color: #000;
}

.yellow-white-20:hover {
  color: #000;
}

.purple-black-20 {
  background-color: #59359a;
  color: #ced4da;
  border-color: #fff;
}

.purple-black-20:hover {
  color: #fff;
}

.purple-white-20 {
  background-color: #8c68cd;
  color: #343a40;
  border-color: #000;
}

.purple-white-20:hover {
  color: #000;
}

.teal-black-20 {
  background-color: #1aa179;
  color: #ced4da;
  border-color: #fff;
}

.teal-black-20:hover {
  color: #fff;
}

.teal-white-20 {
  background-color: #4dd4ac;
  color: #343a40;
  border-color: #000;
}

.teal-white-20:hover {
  color: #000;
}

.green-black-20 {
  background-color: #146c43;
  color: #ced4da;
  border-color: #fff;
}

.green-black-20:hover {
  color: #fff;
}

.green-white-20 {
  background-color: #479f76;
  color: #343a40;
  border-color: #000;
}

.green-white-20:hover {
  color: #000;
}

.white-black-20 {
  background-color: #cccccc;
  color: #ced4da;
  border-color: #fff;
}

.white-black-20:hover {
  color: #fff;
}

.white-white-20 {
  background-color: white;
  color: #343a40;
  border-color: #000;
}

.white-white-20:hover {
  color: #000;
}

.blue-black-30 {
  background-color: #094db1;
  color: #ced4da;
  border-color: #fff;
}

.blue-black-30:hover {
  color: #fff;
}

.blue-white-30:hover {
  color: #000;
}

.blue-white-30 {
  background-color: #569afe;
  color: #343a40;
  border-color: #000;
}

.indigo-black-30 {
  background-color: #470ba9;
  color: #ced4da;
  border-color: #fff;
}

.indigo-black-30:hover {
  color: #fff;
}

.indigo-white-30:hover {
  color: #000;
}

.indigo-white-30 {
  background-color: #9458f6;
  color: #343a40;
  border-color: #000;
}

.cyan-black-30 {
  background-color: #098da8;
  color: #ced4da;
  border-color: #fff;
}

.cyan-black-30:hover {
  color: #fff;
}

.cyan-white-30:hover {
  color: #000;
}

.cyan-white-30 {
  background-color: #56daf5;
  color: #343a40;
  border-color: #000;
}

.orange-black-30 {
  background-color: #b1580e;
  color: #ced4da;
  border-color: #fff;
}

.orange-black-30:hover {
  color: #fff;
}

.orange-white-30 {
  background-color: #fea55b;
  color: #343a40;
  border-color: #000;
}

.orange-white-30:hover {
  color: #000;
}

.yellow-black-30 {
  background-color: #636365;
  color: #ced4da;
  border-color: #fff;
}

.yellow-black-30:hover {
  color: #fff;
}

.yellow-white-30 {
  background-color: #afb0b1;
  color: #343a40;
  border-color: #000;
}

.yellow-white-30:hover {
  color: #000;
}

.purple-black-30 {
  background-color: #4e2e87;
  color: #ced4da;
  border-color: #fff;
}

.purple-black-30:hover {
  color: #fff;
}

.purple-white-30 {
  background-color: #9a7bd4;
  color: #343a40;
  border-color: #000;
}

.purple-white-30:hover {
  color: #000;
}

.teal-black-30 {
  background-color: #168d6a;
  color: #ced4da;
  border-color: #fff;
}

.teal-black-30:hover {
  color: #fff;
}

.teal-white-30 {
  background-color: #63d9b6;
  color: #343a40;
  border-color: #000;
}

.teal-white-30:hover {
  color: #000;
}

.green-black-30 {
  background-color: #125f3b;
  color: #ced4da;
  border-color: #fff;
}

.green-black-30:hover {
  color: #fff;
}

.green-white-30 {
  background-color: #5eab87;
  color: #343a40;
  border-color: #000;
}

.green-white-30:hover {
  color: #000;
}

.white-black-30 {
  background-color: #b3b3b3;
  color: #ced4da;
  border-color: #fff;
}

.white-black-30:hover {
  color: #fff;
}

.white-white-30 {
  background-color: white;
  color: #343a40;
  border-color: #000;
}

.white-white-30:hover {
  color: #000;
}

.blue-black-40 {
  background-color: #084298;
  color: #ced4da;
  border-color: #fff;
}

.blue-black-40:hover {
  color: #fff;
}

.blue-white-40:hover {
  color: #000;
}

.blue-white-40 {
  background-color: #6ea8fe;
  color: #343a40;
  border-color: #000;
}

.indigo-black-40 {
  background-color: #3d0a91;
  color: #ced4da;
  border-color: #fff;
}

.indigo-black-40:hover {
  color: #fff;
}

.indigo-white-40:hover {
  color: #000;
}

.indigo-white-40 {
  background-color: #a370f7;
  color: #343a40;
  border-color: #000;
}

.cyan-black-40 {
  background-color: #087990;
  color: #ced4da;
  border-color: #fff;
}

.cyan-black-40:hover {
  color: #fff;
}

.cyan-white-40:hover {
  color: #000;
}

.cyan-white-40 {
  background-color: #6edff6;
  color: #343a40;
  border-color: #000;
}

.orange-black-40 {
  background-color: #984c0c;
  color: #ced4da;
  border-color: #fff;
}

.orange-black-40:hover {
  color: #fff;
}

.orange-white-40 {
  background-color: #feb272;
  color: #343a40;
  border-color: #000;
}

.orange-white-40:hover {
  color: #000;
}

.yellow-black-40 {
  background-color: #555556;
  color: #ced4da;
  border-color: #fff;
}

.yellow-black-40:hover {
  color: #fff;
}

.yellow-white-40 {
  background-color: #bbbbbc;
  color: #343a40;
  border-color: #000;
}

.yellow-white-40:hover {
  color: #000;
}

.purple-black-40 {
  background-color: #432874;
  color: #ced4da;
  border-color: #fff;
}

.purple-black-40:hover {
  color: #fff;
}

.purple-white-40 {
  background-color: #a98eda;
  color: #343a40;
  border-color: #000;
}

.purple-white-40:hover {
  color: #000;
}

.teal-black-40 {
  background-color: #13795b;
  color: #ced4da;
  border-color: #fff;
}

.teal-black-40:hover {
  color: #fff;
}

.teal-white-40 {
  background-color: #79dfc1;
  color: #343a40;
  border-color: #000;
}

.teal-white-40:hover {
  color: #000;
}

.green-black-40 {
  background-color: #0f5132;
  color: #ced4da;
  border-color: #fff;
}

.green-black-40:hover {
  color: #fff;
}

.green-white-40 {
  background-color: #75b798;
  color: #343a40;
  border-color: #000;
}

.green-white-40:hover {
  color: #000;
}

.white-black-40 {
  background-color: #999999;
  color: #ced4da;
  border-color: #fff;
}

.white-black-40:hover {
  color: #fff;
}

.white-white-40 {
  background-color: white;
  color: #343a40;
  border-color: #000;
}

.white-white-40:hover {
  color: #000;
}

.blue-black-50 {
  background-color: #07377f;
  color: #ced4da;
  border-color: #fff;
}

.blue-black-50:hover {
  color: #fff;
}

.blue-white-50:hover {
  color: #000;
}

.blue-white-50 {
  background-color: #86b7fe;
  color: #343a40;
  border-color: #000;
}

.indigo-black-50 {
  background-color: #330879;
  color: #ced4da;
  border-color: #fff;
}

.indigo-black-50:hover {
  color: #fff;
}

.indigo-white-50:hover {
  color: #000;
}

.indigo-white-50 {
  background-color: #b388f9;
  color: #343a40;
  border-color: #000;
}

.cyan-black-50 {
  background-color: #076578;
  color: #ced4da;
  border-color: #fff;
}

.cyan-black-50:hover {
  color: #fff;
}

.cyan-white-50:hover {
  color: #000;
}

.cyan-white-50 {
  background-color: #86e5f8;
  color: #343a40;
  border-color: #000;
}

.orange-black-50 {
  background-color: #7f3f0a;
  color: #ced4da;
  border-color: #fff;
}

.orange-black-50:hover {
  color: #fff;
}

.orange-white-50 {
  background-color: #febf8a;
  color: #343a40;
  border-color: #000;
}

.orange-white-50:hover {
  color: #000;
}

.yellow-black-50 {
  background-color: #474748;
  color: #ced4da;
  border-color: #fff;
}

.yellow-black-50:hover {
  color: #fff;
}

.yellow-white-50 {
  background-color: #c6c7c8;
  color: #343a40;
  border-color: #000;
}

.yellow-white-50:hover {
  color: #000;
}

.purple-black-50 {
  background-color: #382161;
  color: #ced4da;
  border-color: #fff;
}

.purple-black-50:hover {
  color: #fff;
}

.purple-white-50 {
  background-color: #b7a1e0;
  color: #343a40;
  border-color: #000;
}

.purple-white-50:hover {
  color: #000;
}

.teal-black-50 {
  background-color: #10654c;
  color: #ced4da;
  border-color: #fff;
}

.teal-black-50:hover {
  color: #fff;
}

.teal-white-50 {
  background-color: #90e4cb;
  color: #343a40;
  border-color: #000;
}

.teal-white-50:hover {
  color: #000;
}

.green-black-50 {
  background-color: #0d442a;
  color: #ced4da;
  border-color: #fff;
}

.green-black-50:hover {
  color: #fff;
}

.green-white-50 {
  background-color: #8cc3aa;
  color: #343a40;
  border-color: #000;
}

.green-white-50:hover {
  color: #000;
}

.white-black-50 {
  background-color: gray;
  color: #ced4da;
  border-color: #fff;
}

.white-black-50:hover {
  color: #fff;
}

.white-white-50 {
  background-color: white;
  color: #343a40;
  border-color: #000;
}

.white-white-50:hover {
  color: #000;
}

.blue-black-60 {
  background-color: #052c65;
  color: #ced4da;
  border-color: #fff;
}

.blue-black-60:hover {
  color: #fff;
}

.blue-white-60:hover {
  color: #000;
}

.blue-white-60 {
  background-color: #9ec5fe;
  color: #343a40;
  border-color: #000;
}

.indigo-black-60 {
  background-color: #290661;
  color: #ced4da;
  border-color: #fff;
}

.indigo-black-60:hover {
  color: #fff;
}

.indigo-white-60:hover {
  color: #000;
}

.indigo-white-60 {
  background-color: #c29ffa;
  color: #343a40;
  border-color: #000;
}

.cyan-black-60 {
  background-color: #055160;
  color: #ced4da;
  border-color: #fff;
}

.cyan-black-60:hover {
  color: #fff;
}

.cyan-white-60:hover {
  color: #000;
}

.cyan-white-60 {
  background-color: #9eeaf9;
  color: #343a40;
  border-color: #000;
}

.orange-black-60 {
  background-color: #653208;
  color: #ced4da;
  border-color: #fff;
}

.orange-black-60:hover {
  color: #fff;
}

.orange-white-60 {
  background-color: #fecba1;
  color: #343a40;
  border-color: #000;
}

.orange-white-60:hover {
  color: #000;
}

.yellow-black-60 {
  background-color: #38393a;
  color: #ced4da;
  border-color: #fff;
}

.yellow-black-60:hover {
  color: #fff;
}

.yellow-white-60 {
  background-color: #d1d2d3;
  color: #343a40;
  border-color: #000;
}

.yellow-white-60:hover {
  color: #000;
}

.purple-black-60 {
  background-color: #2c1a4d;
  color: #ced4da;
  border-color: #fff;
}

.purple-black-60:hover {
  color: #fff;
}

.purple-white-60 {
  background-color: #c5b3e6;
  color: #343a40;
  border-color: #000;
}

.purple-white-60:hover {
  color: #000;
}

.teal-black-60 {
  background-color: #0d503c;
  color: #ced4da;
  border-color: #fff;
}

.teal-black-60:hover {
  color: #fff;
}

.teal-white-60 {
  background-color: #a6e9d5;
  color: #343a40;
  border-color: #000;
}

.teal-white-60:hover {
  color: #000;
}

.green-black-60 {
  background-color: #0a3622;
  color: #ced4da;
  border-color: #fff;
}

.green-black-60:hover {
  color: #fff;
}

.green-white-60 {
  background-color: #a3cfbb;
  color: #343a40;
  border-color: #000;
}

.green-white-60:hover {
  color: #000;
}

.white-black-60 {
  background-color: #666666;
  color: #ced4da;
  border-color: #fff;
}

.white-black-60:hover {
  color: #fff;
}

.white-white-60 {
  background-color: white;
  color: #343a40;
  border-color: #000;
}

.white-white-60:hover {
  color: #000;
}

.blue-black-70 {
  background-color: #04214c;
  color: #ced4da;
  border-color: #fff;
}

.blue-black-70:hover {
  color: #fff;
}

.blue-white-70:hover {
  color: #000;
}

.blue-white-70 {
  background-color: #b6d4fe;
  color: #343a40;
  border-color: #000;
}

.indigo-black-70 {
  background-color: #1f0549;
  color: #ced4da;
  border-color: #fff;
}

.indigo-black-70:hover {
  color: #fff;
}

.indigo-white-70:hover {
  color: #000;
}

.indigo-white-70 {
  background-color: #d1b7fb;
  color: #343a40;
  border-color: #000;
}

.cyan-black-70 {
  background-color: #043d48;
  color: #ced4da;
  border-color: #fff;
}

.cyan-black-70:hover {
  color: #fff;
}

.cyan-white-70:hover {
  color: #000;
}

.cyan-white-70 {
  background-color: #b6effb;
  color: #343a40;
  border-color: #000;
}

.orange-black-70 {
  background-color: #4c2606;
  color: #ced4da;
  border-color: #fff;
}

.orange-black-70:hover {
  color: #fff;
}

.orange-white-70 {
  background-color: #fed8b9;
  color: #343a40;
  border-color: #000;
}

.orange-white-70:hover {
  color: #000;
}

.yellow-black-70 {
  background-color: #2a2b2b;
  color: #ced4da;
  border-color: #fff;
}

.yellow-black-70:hover {
  color: #fff;
}

.yellow-white-70 {
  background-color: #ddddde;
  color: #343a40;
  border-color: #000;
}

.yellow-white-70:hover {
  color: #000;
}

.purple-black-70 {
  background-color: #21143a;
  color: #ced4da;
  border-color: #fff;
}

.purple-black-70:hover {
  color: #fff;
}

.purple-white-70 {
  background-color: #d4c6ec;
  color: #343a40;
  border-color: #000;
}

.purple-white-70:hover {
  color: #000;
}

.teal-black-70 {
  background-color: #0a3c2d;
  color: #ced4da;
  border-color: #fff;
}

.teal-black-70:hover {
  color: #fff;
}

.teal-white-70 {
  background-color: #bcefe0;
  color: #343a40;
  border-color: #000;
}

.teal-white-70:hover {
  color: #000;
}

.green-black-70 {
  background-color: #082919;
  color: #ced4da;
  border-color: #fff;
}

.green-black-70:hover {
  color: #fff;
}

.green-white-70 {
  background-color: #badbcc;
  color: #343a40;
  border-color: #000;
}

.green-white-70:hover {
  color: #000;
}

.white-black-70 {
  background-color: #4d4d4d;
  color: #ced4da;
  border-color: #fff;
}

.white-black-70:hover {
  color: #fff;
}

.white-white-70 {
  background-color: white;
  color: #343a40;
  border-color: #000;
}

.white-white-70:hover {
  color: #000;
}

.blue-black-80 {
  background-color: #031633;
  color: #ced4da;
  border-color: #fff;
}

.blue-black-80:hover {
  color: #fff;
}

.blue-white-80:hover {
  color: #000;
}

.blue-white-80 {
  background-color: #cfe2ff;
  color: #343a40;
  border-color: #000;
}

.indigo-black-80 {
  background-color: #140330;
  color: #ced4da;
  border-color: #fff;
}

.indigo-black-80:hover {
  color: #fff;
}

.indigo-white-80:hover {
  color: #000;
}

.indigo-white-80 {
  background-color: #e0cffc;
  color: #343a40;
  border-color: #000;
}

.cyan-black-80 {
  background-color: #032830;
  color: #ced4da;
  border-color: #fff;
}

.cyan-black-80:hover {
  color: #fff;
}

.cyan-white-80:hover {
  color: #000;
}

.cyan-white-80 {
  background-color: #cff4fc;
  color: #343a40;
  border-color: #000;
}

.orange-black-80 {
  background-color: #331904;
  color: #ced4da;
  border-color: #fff;
}

.orange-black-80:hover {
  color: #fff;
}

.orange-white-80 {
  background-color: #ffe5d0;
  color: #343a40;
  border-color: #000;
}

.orange-white-80:hover {
  color: #000;
}

.yellow-black-80 {
  background-color: #1c1c1d;
  color: #ced4da;
  border-color: #fff;
}

.yellow-black-80:hover {
  color: #fff;
}

.yellow-white-80 {
  background-color: #e8e8e9;
  color: #343a40;
  border-color: #000;
}

.yellow-white-80:hover {
  color: #000;
}

.purple-black-80 {
  background-color: #160d27;
  color: #ced4da;
  border-color: #fff;
}

.purple-black-80:hover {
  color: #fff;
}

.purple-white-80 {
  background-color: #e2d9f3;
  color: #343a40;
  border-color: #000;
}

.purple-white-80:hover {
  color: #000;
}

.teal-black-80 {
  background-color: #06281e;
  color: #ced4da;
  border-color: #fff;
}

.teal-black-80:hover {
  color: #fff;
}

.teal-white-80 {
  background-color: #d2f4ea;
  color: #343a40;
  border-color: #000;
}

.teal-white-80:hover {
  color: #000;
}

.green-black-80 {
  background-color: #051b11;
  color: #ced4da;
  border-color: #fff;
}

.green-black-80:hover {
  color: #fff;
}

.green-white-80 {
  background-color: #d1e7dd;
  color: #343a40;
  border-color: #000;
}

.green-white-80:hover {
  color: #000;
}

.white-black-80 {
  background-color: #333333;
  color: #ced4da;
  border-color: #fff;
}

.white-black-80:hover {
  color: #fff;
}

.white-white-80 {
  background-color: white;
  color: #343a40;
  border-color: #000;
}

.white-white-80:hover {
  color: #000;
}

.blue-black-90 {
  background-color: #010b19;
  color: #ced4da;
  border-color: #fff;
}

.blue-black-90:hover {
  color: #fff;
}

.blue-white-90:hover {
  color: #000;
}

.blue-white-90 {
  background-color: #e7f1ff;
  color: #343a40;
  border-color: #000;
}

.indigo-black-90 {
  background-color: #0a0218;
  color: #ced4da;
  border-color: #fff;
}

.indigo-black-90:hover {
  color: #fff;
}

.indigo-white-90:hover {
  color: #000;
}

.indigo-white-90 {
  background-color: #f0e7fe;
  color: #343a40;
  border-color: #000;
}

.cyan-black-90 {
  background-color: #011418;
  color: #ced4da;
  border-color: #fff;
}

.cyan-black-90:hover {
  color: #fff;
}

.cyan-white-90:hover {
  color: #000;
}

.cyan-white-90 {
  background-color: #e7fafe;
  color: #343a40;
  border-color: #000;
}

.orange-black-90 {
  background-color: #190d02;
  color: #ced4da;
  border-color: #fff;
}

.orange-black-90:hover {
  color: #fff;
}

.orange-white-90 {
  background-color: #fff2e8;
  color: #343a40;
  border-color: #000;
}

.orange-white-90:hover {
  color: #000;
}

.yellow-black-90 {
  background-color: #0e0e0e;
  color: #ced4da;
  border-color: #fff;
}

.yellow-black-90:hover {
  color: #fff;
}

.yellow-white-90 {
  background-color: #f4f4f4;
  color: #343a40;
  border-color: #000;
}

.yellow-white-90:hover {
  color: #000;
}

.purple-black-90 {
  background-color: #0b0713;
  color: #ced4da;
  border-color: #fff;
}

.purple-black-90:hover {
  color: #fff;
}

.purple-white-90 {
  background-color: #f1ecf9;
  color: #343a40;
  border-color: #000;
}

.purple-white-90:hover {
  color: #000;
}

.teal-black-90 {
  background-color: #03140f;
  color: #ced4da;
  border-color: #fff;
}

.teal-black-90:hover {
  color: #fff;
}

.teal-white-90 {
  background-color: #e9faf5;
  color: #343a40;
  border-color: #000;
}

.teal-white-90:hover {
  color: #000;
}

.green-black-90 {
  background-color: #030e08;
  color: #ced4da;
  border-color: #fff;
}

.green-black-90:hover {
  color: #fff;
}

.green-white-90 {
  background-color: #e8f3ee;
  color: #343a40;
  border-color: #000;
}

.green-white-90:hover {
  color: #000;
}

.white-black-90 {
  background-color: #1a1a1a;
  color: #ced4da;
  border-color: #fff;
}

.white-black-90:hover {
  color: #fff;
}

.white-white-90 {
  background-color: white;
  color: #343a40;
  border-color: #000;
}

.white-white-90:hover {
  color: #000;
}

.blue-black-100 {
  background-color: black;
  color: #ced4da;
  border-color: #fff;
}

.blue-black-100:hover {
  color: #fff;
}

.blue-white-100:hover {
  color: #000;
}

.blue-white-100 {
  background-color: white;
  color: #343a40;
  border-color: #000;
}

.indigo-black-100 {
  background-color: black;
  color: #ced4da;
  border-color: #fff;
}

.indigo-black-100:hover {
  color: #fff;
}

.indigo-white-100:hover {
  color: #000;
}

.indigo-white-100 {
  background-color: white;
  color: #343a40;
  border-color: #000;
}

.cyan-black-100 {
  background-color: black;
  color: #ced4da;
  border-color: #fff;
}

.cyan-black-100:hover {
  color: #fff;
}

.cyan-white-100:hover {
  color: #000;
}

.cyan-white-100 {
  background-color: white;
  color: #343a40;
  border-color: #000;
}

.orange-black-100 {
  background-color: black;
  color: #ced4da;
  border-color: #fff;
}

.orange-black-100:hover {
  color: #fff;
}

.orange-white-100 {
  background-color: white;
  color: #343a40;
  border-color: #000;
}

.orange-white-100:hover {
  color: #000;
}

.yellow-black-100 {
  background-color: black;
  color: #ced4da;
  border-color: #fff;
}

.yellow-black-100:hover {
  color: #fff;
}

.yellow-white-100 {
  background-color: white;
  color: #343a40;
  border-color: #000;
}

.yellow-white-100:hover {
  color: #000;
}

.purple-black-100 {
  background-color: black;
  color: #ced4da;
  border-color: #fff;
}

.purple-black-100:hover {
  color: #fff;
}

.purple-white-100 {
  background-color: white;
  color: #343a40;
  border-color: #000;
}

.purple-white-100:hover {
  color: #000;
}

.teal-black-100 {
  background-color: black;
  color: #ced4da;
  border-color: #fff;
}

.teal-black-100:hover {
  color: #fff;
}

.teal-white-100 {
  background-color: white;
  color: #343a40;
  border-color: #000;
}

.teal-white-100:hover {
  color: #000;
}

.green-black-100 {
  background-color: black;
  color: #ced4da;
  border-color: #fff;
}

.green-black-100:hover {
  color: #fff;
}

.green-white-100 {
  background-color: white;
  color: #343a40;
  border-color: #000;
}

.green-white-100:hover {
  color: #000;
}

.white-black-100 {
  background-color: black;
  color: #ced4da;
  border-color: #fff;
}

.white-black-100:hover {
  color: #fff;
}

.white-white-100 {
  background-color: white;
  color: #343a40;
  border-color: #000;
}

.white-white-100:hover {
  color: #000;
}

.blue-black-text-20 {
  color: #0a58ca;
  border-color: #fff;
}

.blue-white-text-20 {
  color: #3d8bfd;
  border-color: #000;
}

.indigo-black-text-20 {
  color: #520dc2;
  border-color: #fff;
}

.indigo-white-text-20 {
  color: #8540f5;
  border-color: #000;
}

.cyan-black-text-20 {
  color: #0aa2c0;
  border-color: #fff;
}

.cyan-white-text-20 {
  color: #3dd5f3;
  border-color: #000;
}

.orange-black-text-20 {
  color: #ca6510;
  border-color: #fff;
}

.orange-white-text-20 {
  color: #fd9843;
  border-color: #000;
}

.yellow-black-text-20 {
  color: #717273;
  border-color: #fff;
}

.yellow-white-text-20 {
  color: #a4a5a6;
  border-color: #000;
}

.purple-black-text-20 {
  color: #59359a;
  border-color: #fff;
}

.purple-white-text-20 {
  color: #8c68cd;
  border-color: #000;
}

.teal-black-text-20 {
  color: #1aa179;
  border-color: #fff;
}

.teal-white-text-20 {
  color: #4dd4ac;
  border-color: #000;
}

.green-black-text-20 {
  color: #146c43;
  border-color: #fff;
}

.green-white-text-20 {
  color: #479f76;
  border-color: #000;
}

.blue-black-text-30 {
  color: #094db1;
  border-color: #fff;
}

.blue-white-text-30 {
  color: #569afe;
  border-color: #000;
}

.indigo-black-text-30 {
  color: #470ba9;
  border-color: #fff;
}

.indigo-white-text-30 {
  color: #9458f6;
  border-color: #000;
}

.cyan-black-text-30 {
  color: #098da8;
  border-color: #fff;
}

.cyan-white-text-30 {
  color: #56daf5;
  border-color: #000;
}

.orange-black-text-30 {
  color: #b1580e;
  border-color: #fff;
}

.orange-white-text-30 {
  color: #fea55b;
  border-color: #000;
}

.yellow-black-text-30 {
  color: #636365;
  border-color: #fff;
}

.yellow-white-text-30 {
  color: #afb0b1;
  border-color: #000;
}

.purple-black-text-30 {
  color: #4e2e87;
  border-color: #fff;
}

.purple-white-text-30 {
  color: #9a7bd4;
  border-color: #000;
}

.teal-black-text-30 {
  color: #168d6a;
  border-color: #fff;
}

.teal-white-text-30 {
  color: #63d9b6;
  border-color: #000;
}

.green-black-text-30 {
  color: #125f3b;
  border-color: #fff;
}

.green-white-text-30 {
  color: #5eab87;
  border-color: #000;
}

.blue-black-text-40 {
  color: #084298;
  border-color: #fff;
}

.blue-white-text-40 {
  color: #6ea8fe;
  border-color: #000;
}

.indigo-black-text-40 {
  color: #3d0a91;
  border-color: #fff;
}

.indigo-white-text-40 {
  color: #a370f7;
  border-color: #000;
}

.cyan-black-text-40 {
  color: #087990;
  border-color: #fff;
}

.cyan-white-text-40 {
  color: #6edff6;
  border-color: #000;
}

.orange-black-text-40 {
  color: #984c0c;
  border-color: #fff;
}

.orange-white-text-40 {
  color: #feb272;
  border-color: #000;
}

.yellow-black-text-40 {
  color: #555556;
  border-color: #fff;
}

.yellow-white-text-40 {
  color: #bbbbbc;
  border-color: #000;
}

.purple-black-text-40 {
  color: #432874;
  border-color: #fff;
}

.purple-white-text-40 {
  color: #a98eda;
  border-color: #000;
}

.teal-black-text-40 {
  color: #13795b;
  border-color: #fff;
}

.teal-white-text-40 {
  color: #79dfc1;
  border-color: #000;
}

.green-black-text-40 {
  color: #0f5132;
  border-color: #fff;
}

.green-white-text-40 {
  color: #75b798;
  border-color: #000;
}

.blue-black-text-50 {
  color: #07377f;
  border-color: #fff;
}

.blue-white-text-50 {
  color: #86b7fe;
  border-color: #000;
}

.indigo-black-text-50 {
  color: #330879;
  border-color: #fff;
}

.indigo-white-text-50 {
  color: #b388f9;
  border-color: #000;
}

.cyan-black-text-50 {
  color: #076578;
  border-color: #fff;
}

.cyan-white-text-50 {
  color: #86e5f8;
  border-color: #000;
}

.orange-black-text-50 {
  color: #7f3f0a;
  border-color: #fff;
}

.orange-white-text-50 {
  color: #febf8a;
  border-color: #000;
}

.yellow-black-text-50 {
  color: #474748;
  border-color: #fff;
}

.yellow-white-text-50 {
  color: #c6c7c8;
  border-color: #000;
}

.purple-black-text-50 {
  color: #382161;
  border-color: #fff;
}

.purple-white-text-50 {
  color: #b7a1e0;
  border-color: #000;
}

.teal-black-text-50 {
  color: #10654c;
  border-color: #fff;
}

.teal-white-text-50 {
  color: #90e4cb;
  border-color: #000;
}

.green-black-text-50 {
  color: #0d442a;
  border-color: #fff;
}

.green-white-text-50 {
  color: #8cc3aa;
  border-color: #000;
}

.blue-black-text-60 {
  color: #052c65;
  border-color: #fff;
}

.blue-white-text-60 {
  color: #9ec5fe;
  border-color: #000;
}

.indigo-black-text-60 {
  color: #290661;
  border-color: #fff;
}

.indigo-white-text-60 {
  color: #c29ffa;
  border-color: #000;
}

.cyan-black-text-60 {
  color: #055160;
  border-color: #fff;
}

.cyan-white-text-60 {
  color: #9eeaf9;
  border-color: #000;
}

.orange-black-text-60 {
  color: #653208;
  border-color: #fff;
}

.orange-white-text-60 {
  color: #fecba1;
  border-color: #000;
}

.yellow-black-text-60 {
  color: #38393a;
  border-color: #fff;
}

.yellow-white-text-60 {
  color: #d1d2d3;
  border-color: #000;
}

.purple-black-text-60 {
  color: #2c1a4d;
  border-color: #fff;
}

.purple-white-text-60 {
  color: #c5b3e6;
  border-color: #000;
}

.teal-black-text-60 {
  color: #0d503c;
  border-color: #fff;
}

.teal-white-text-60 {
  color: #a6e9d5;
  border-color: #000;
}

.green-black-text-60 {
  color: #0a3622;
  border-color: #fff;
}

.green-white-text-60 {
  color: #a3cfbb;
  border-color: #000;
}

.blue-black-text-70 {
  color: #04214c;
  border-color: #fff;
}

.blue-white-text-70 {
  color: #b6d4fe;
  border-color: #000;
}

.indigo-black-text-70 {
  color: #1f0549;
  border-color: #fff;
}

.indigo-white-text-70 {
  color: #d1b7fb;
  border-color: #000;
}

.cyan-black-text-70 {
  color: #043d48;
  border-color: #fff;
}

.cyan-white-text-70 {
  color: #b6effb;
  border-color: #000;
}

.orange-black-text-70 {
  color: #4c2606;
  border-color: #fff;
}

.orange-white-text-70 {
  color: #fed8b9;
  border-color: #000;
}

.yellow-black-text-70 {
  color: #2a2b2b;
  border-color: #fff;
}

.yellow-white-text-70 {
  color: #ddddde;
  border-color: #000;
}

.purple-black-text-70 {
  color: #21143a;
  border-color: #fff;
}

.purple-white-text-70 {
  color: #d4c6ec;
  border-color: #000;
}

.teal-black-text-70 {
  color: #0a3c2d;
  border-color: #fff;
}

.teal-white-text-70 {
  color: #bcefe0;
  border-color: #000;
}

.green-black-text-70 {
  color: #082919;
  border-color: #fff;
}

.green-white-text-70 {
  color: #badbcc;
  border-color: #000;
}

.blue-black-text-80 {
  color: #031633;
  border-color: #fff;
}

.blue-white-text-80 {
  color: #cfe2ff;
  border-color: #000;
}

.indigo-black-text-80 {
  color: #140330;
  border-color: #fff;
}

.indigo-white-text-80 {
  color: #e0cffc;
  border-color: #000;
}

.cyan-black-text-80 {
  color: #032830;
  border-color: #fff;
}

.cyan-white-text-80 {
  color: #cff4fc;
  border-color: #000;
}

.orange-black-text-80 {
  color: #331904;
  border-color: #fff;
}

.orange-white-text-80 {
  color: #ffe5d0;
  border-color: #000;
}

.yellow-black-text-80 {
  color: #1c1c1d;
  border-color: #fff;
}

.yellow-white-text-80 {
  color: #e8e8e9;
  border-color: #000;
}

.purple-black-text-80 {
  color: #160d27;
  border-color: #fff;
}

.purple-white-text-80 {
  color: #e2d9f3;
  border-color: #000;
}

.teal-black-text-80 {
  color: #06281e;
  border-color: #fff;
}

.teal-white-text-80 {
  color: #d2f4ea;
  border-color: #000;
}

.green-black-text-80 {
  color: #051b11;
  border-color: #fff;
}

.green-white-text-80 {
  color: #d1e7dd;
  border-color: #000;
}

.blue-black-text-90 {
  color: #010b19;
  border-color: #fff;
}

.blue-white-text-90 {
  color: #e7f1ff;
  border-color: #000;
}

.indigo-black-text-90 {
  color: #0a0218;
  border-color: #fff;
}

.indigo-white-text-90 {
  color: #f0e7fe;
  border-color: #000;
}

.cyan-black-text-90 {
  color: #011418;
  border-color: #fff;
}

.cyan-white-text-90 {
  color: #e7fafe;
  border-color: #000;
}

.orange-black-text-90 {
  color: #190d02;
  border-color: #fff;
}

.orange-white-text-90 {
  color: #fff2e8;
  border-color: #000;
}

.yellow-black-text-90 {
  color: #0e0e0e;
  border-color: #fff;
}

.yellow-white-text-90 {
  color: #f4f4f4;
  border-color: #000;
}

.purple-black-text-90 {
  color: #0b0713;
  border-color: #fff;
}

.purple-white-text-90 {
  color: #f1ecf9;
  border-color: #000;
}

.teal-black-text-90 {
  color: #03140f;
  border-color: #fff;
}

.teal-white-text-90 {
  color: #e9faf5;
  border-color: #000;
}

.green-black-text-90 {
  color: #030e08;
  border-color: #fff;
}

.green-white-text-90 {
  color: #e8f3ee;
  border-color: #000;
}

.blue-black-text-100 {
  color: black;
  border-color: #fff;
}

.blue-white-text-100 {
  color: white;
  border-color: #000;
}

.indigo-black-text-100 {
  color: black;
  border-color: #fff;
}

.indigo-white-text-100 {
  color: white;
  border-color: #000;
}

.cyan-black-text-100 {
  color: black;
  border-color: #fff;
}

.cyan-white-text-100 {
  color: white;
  border-color: #000;
}

.orange-black-text-100 {
  color: black;
  border-color: #fff;
}

.orange-white-text-100 {
  color: white;
  border-color: #000;
}

.yellow-black-text-100 {
  color: black;
  border-color: #fff;
}

.yellow-white-text-100 {
  color: white;
  border-color: #000;
}

.purple-black-text-100 {
  color: black;
  border-color: #fff;
}

.purple-white-text-100 {
  color: white;
  border-color: #000;
}

.teal-black-text-100 {
  color: black;
  border-color: #fff;
}

.teal-white-text-100 {
  color: white;
  border-color: #000;
}

.green-black-text-100 {
  color: black;
  border-color: #fff;
}

.green-white-text-100 {
  color: white;
  border-color: #000;
}

/*Single property */
html {
  font-size: 1em;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(0.3824091778vw + 0.924em);
  }
}
@media screen and (min-width: 1366px) {
  html {
    font-size: 1.188em;
  }
}
@media screen and (max-width: 1366px) {
  .tag-label, .tag-experience > span, .tag-label a {
    font-size: 0.85rem !important;
  }
}
/* Multiple properties with same values */
h1, h2, h3, h4, h5 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

@media screen and (min-width: 20rem) {
  h1, h2, h3, h4, h5 {
    padding-top: calc(1vw - 0.2rem);
    padding-bottom: calc(1vw - 0.2rem);
  }
}
@media screen and (min-width: 70rem) {
  h1, h2, h3, h4, h5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.table {
  border-collapse: collapse;
  table-layout: auto;
}

.text-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
}

.table > .b-right {
  border-right: 1px solid white !important;
}

/*# sourceMappingURL=scss.css.map */
